<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb7c74">  <td>21/09/25 21:32:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Admin_Users.LaunchingApplication()[pri:0, instance:AdminPanelTests.Admin_Users@6a84a97d]">LaunchingApplication</td> 
  <td>main@1611241809</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/09/25 21:32:35</td>   <td>16473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumWebTest.afterTest(org.testng.ITestResult)[pri:0, instance:AdminPanelTests.Admin_Users@6a84a97d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1611241809</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/09/25 21:32:16</td>   <td>-1733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumWebTest.setUp()[pri:0, instance:AdminPanelTests.Admin_Users@6a84a97d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1611241809</td>   <td></td> </tr>
</table>
